body {
    background-color: pink;
}

/* 헤더 "To-Do List*/
h1 {
    font-size: 350%;
    text-align: center;
    border-bottom: 2.5px solid gray;
    margin: 0;
    padding: 20px;
}

/* 날짜선택 */
#day {
    border-right: 2.5px solid gray;
    width: 1fr;
    padding: 15px;
    font-size: 15px;
    margin: 0;
}

/* 입력 창 "할 일 추가" */
#todoInput {
    text-align: center;
    width: 50%;
    padding: 10px;
    margin-left: 13%;
}

/* 추가 버튼 */
#add {
    width: 40px;
    height: 40px;
}

/* 추가된 리스트 */
#todoList li{
    padding: 5px;
    list-style: none;
    color: black;
    font-size: 18px;
}

/* 추가된 리스트의 완료체크 버튼 */
#todoList button {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    padding: 0;
    border: 0;
}

/* 할 일 완료 */
.complete span{
    color: rgb(147, 147, 147);
    text-decoration: line-through rgb(245, 127, 127) 2px;
    
}
/* 완료 버튼 체크표시 */
.complete button::before {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    transform: translate(6px, -1px) rotate(45deg);
    border-right: 2px solid red;
    border-bottom: 2px solid red;
}
#del{
    /* text-align: right; */
}
#grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#TD {
    display: block;
}

#dateOutput {
    height: 50px;
    font-size: 30px;
    padding: 15px;
    margin-top: 20px;
}

/* #add{
    width: 66px;
}


#post{
    width: 50%;
    margin-left: 10%;
} */

/* @media (max-width:800px) {
    #grid{
        display: block;
    }
    h1{
        border-bottom: none;
    }
    #day{
        border-right: none;
    }
} */